// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*, h1, h3, h2, p {
    font-family: 'Josefin Sans', Century Gothic, Arial, sans-serif;
}

body {
    width: 90%;
    margin: 5em auto 5em auto;
    background-image: url("gw2_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.brandName a {
    color: white;
    font-size: 1.25em;
}

.navbar-right {
    font-size: 1.25em;
}

.footer {
    min-height: 40px;
    clear: both;
}

#footer-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.carousel {
    margin-left: -100px;
    margin-right: -100px;
    max-height: 500px;
    overflow: hidden;
}
.carousel-inner .item{
    max-height: 500px;
}
.carousel-caption {
    background-color: black;
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,0));
    color: white;
}
.item img {
    margin: auto;
    horizontal-align: middle;
}
.name {
    font-size: 2em;
}
.prof {
    font-size: 1.5em;
}